# Environment variables
.env

# Python Bytecode
*.py[cod]
__pycache__/

# Media and file uploads
media/

# Node dependencies
node_modules/

# Python virtual environments
env/
myenv/
venv/

# Log files
*.log

# SQLite DB and secrets
db.sqlite3
secret.txt
secrets/

# Ignore everything in logs except keep.log
logs/*
!logs/keep.log

# Mac system files
.DS_Store

# VSCode or PyCharm files (optional)
.vscode/
.idea/
