.env

# Ignore entire folder
media/
__pycache__/
node_modules/
env/
myenv/

# Ignore specific files
*.log
*.pyc
db.sqlite3
secret.txt

# Ignore everything in a folder except one file
logs/*
!logs/keep.log

secrets/