<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
      integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body>
    <div class="w-full max-w-7xl mx-auto">
      <div
        class="flex flex-col max-w-screen-xl p-5 mx-auto md:items-center md:justify-between md:flex-row md:px-6 lg:px-8 border-b"
      >
        <div
          class="flex flex-row items-center justify-between lg:justify-start"
        >
          <a
            href="{% url 'job-list' %}"
            class="text-3xl font-bold tracking-tighter text-blue-600 transition duration-500 ease-in-out transform tracking-relaxed lg:pr-8"
          >
            Freelancers
          </a>
        </div>

        <nav
          class="flex-col items-center flex-grow hidden pb-4 md:pb-0 md:flex md:justify-end md:flex-row lg:pl-2"
        >
          <div class="inline-flex items-center gap-2 list-none lg:ml-auto">
            {% if request.path != '/register/' and request.path != '/' %}

            <a
              class="items-center block px-10 py-2.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              href="{% url 'profile'   %}"
            >
              Profile
            </a>
            <a
              class="items-center block px-10 py-2.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
              href="{% url 'logout' %}"
            >
              Logout
            </a>

            {% else %}
            <a
              href="{% url 'login' %}"
              class="items-center block px-10 py-2.5 text-base font-medium text-center text-blue-600 transition duration-500 ease-in-out transform border-2 border-white shadow-md rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
            >
              Sign in
            </a>

            <a
              href='{% url "register" %}'
              class="items-center block px-10 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-600 rounded-xl hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
            >
              Sign up
            </a>
            {% endif %}
          </div>
        </nav>
      </div>
      <div class="container">
        {% block content %} {% if error_message %}
        <div class="text-red-500 text-center mt-4">
          <p>{{ error_message }}</p>
        </div>
        {% elif success_message %}
        <div class="text-green-500 text-center mt-4">
          <p>{{ success_message }}</p>
        </div>
        {% endif %} {% endblock content %}
      </div>
    </div>
  </body>
</html>
