{% extends 'accounts/_base.html' %} {% load tailwind_filters %}{% block content %}
<div class="container">
  <div class="flex justify-evenly my-5  py-2">
    <div class=" w-[45%] h-[60vh] rounded-2xl overflow-hidden">
      <video class="w-[100%] h-[100%]"  id="ours"></video>
      
    </div>
    <div class=" w-[45%] h-[60vh] rounded-2xl overflow-hidden">
      <video class="w-[100%] h-[100%]" id="remote" ></video>
      
    </div>
  </div>
</div>
<div class="flex justify-center mt-10  gap-10">
  <div>
    <button class="border py-2 px-5 rounded-xl bg-green-500 text-white hidden" id="call_btn"><i id="call_btn-icon" class="fa-solid fa-phone"></i></button>
  </div>
  <div>
    <button class="border py-2 px-5 rounded-xl bg-blue-500 text-white" id="camera"><i id="camera-icon" class="fa-solid fa-video"></i></button>
  </div>
  <div>
    <button class="border py-2 px-5 rounded-xl bg-blue-500 text-white" id="audio"><i id="audio-icon" class="fa-solid fa-volume-high"></i></button>
  </div>
  <div>
    <button class="border py-2 px-5 rounded-xl bg-red-500 text-white hidden" id="end" ><i id="end-icon" class="fa-solid fa-phone-slash"></i></button>
  </div>
</div>
<script>
  // Contains the stun server URL we will be using.
  let iceServers = {
    iceServers: [
      { urls: "stun:stun.services.mozilla.com" },
      { urls: "stun:stun.l.google.com:19302" },
    ],
  };
  const our_video = document.getElementById("ours");
  const remote_video = document.getElementById("remote");
  const call_btn = document.getElementById("call_btn");
  let stream;
  let rtcpeerconnection;
  const created = "{{created}}";
  const room = "{{room}}";
  let isCreated;
  let camera = document.getElementById("camera");
  let cameraicon = document.getElementById("camera-icon");
  let end = document.getElementById("end");
  end.onclick = endcall;

  camera.onclick = () => {
    if (stream.getTracks()[1].enabled == true) {
      stream.getTracks()[1].enabled = false;
      cameraicon.classList.remove('fa-video')
      cameraicon.classList.add('fa-video-slash')
    } else {
      stream.getTracks()[1].enabled = true;
      cameraicon.classList.remove('fa-video-slash')
      cameraicon.classList.add('fa-video')
    }
  };
  let websocketurl = "ws://127.0.0.1:8000/ws/";
  console.log(websocketurl);
  const ws = new WebSocket(websocketurl);
  ws.onopen = () => {
    console.log("opened");
    ws.send(
      JSON.stringify({
        command: "join_room",
        room: room,
      })
    );
    if (created == "created") {
      isCreated = true;
      navigator.mediaDevices
        .getUserMedia({
          video: true,
          audio: true,
        })
        .then((s) => {
          stream = s;
          our_video.srcObject = s;
          our_video.onloadeddata = () => {
            our_video.play();
          };
        });
      console.log(isCreated);
    } else {
      isCreated = false;
      navigator.mediaDevices
        .getUserMedia({
          video: true,
          audio: true,
        })
        .then((s) => {
          stream = s;
          our_video.srcObject = s;
          our_video.onloadeddata = () => {
            our_video.play();
          };
          ws.send(
            JSON.stringify({
              command: "join",
              room: room,
            })
          );
        });
      console.log(isCreated);
    }
  };
  ws.onmessage = (e) => {
    const data = JSON.parse(e.data);
    console.log(data);
    if (data["command"] == "join") {
      console.log("isCreated:", isCreated);
      if (isCreated) {
        call_btn.classList.remove('hidden')
      }
    } else if (data["command"] == "offer") {
      if (isCreated == false) {
        createanswer(data["offer"]);
      }
    } else if (data["command"] == "answer") {
      if (isCreated) {
        rtcpeerconnection.setRemoteDescription(data["answer"]);
        console.log("answer set as remote");
      }
    } else if (data["command"] == "candidate") {
      if (data["isCreated"] != isCreated) {
        const IceCandidate = new RTCIceCandidate(data["candidate"]);
        rtcpeerconnection.addIceCandidate(IceCandidate);
      }
    } else if (data["command"] == "end") {
      endcall();
    }
  };
  call_btn.onclick = () => {
    createoffer();
    call_btn.classList.add('hidden')
    end.classList.remove('hidden')
  };
  function createoffer() {
    console.log("offer started");
    rtcpeerconnection = new RTCPeerConnection(iceServers);
    rtcpeerconnection.onicecandidate = OnIceCandidateFunc;
    rtcpeerconnection.ontrack = OnTrackFunc;
    stream.getTracks().forEach((track) => {
      rtcpeerconnection.addTrack(track, stream);
    });
    rtcpeerconnection.createOffer().then((offer) => {
      rtcpeerconnection.setLocalDescription(offer);
      ws.send(
        JSON.stringify({
          command: "offer",
          offer: offer,
          room: room,
        })
      );
    });
  }
  function createanswer(offer) {
    end.classList.remove('hidden')
    console.log("answer started");
    rtcpeerconnection = new RTCPeerConnection(iceServers);
    rtcpeerconnection.onicecandidate = OnIceCandidateFunc;
    rtcpeerconnection.ontrack = OnTrackFunc;
    stream.getTracks().forEach((track) => {
      rtcpeerconnection.addTrack(track, stream);
    });
    rtcpeerconnection.setRemoteDescription(offer);
    rtcpeerconnection.createAnswer().then((answer) => {
      rtcpeerconnection.setLocalDescription(answer);
      ws.send(
        JSON.stringify({
          command: "answer",
          answer: answer,
          room: room,
        })
      );
    });
  }
  function OnIceCandidateFunc(e) {
    if (e.candidate) {
      ws.send(
        JSON.stringify({
          command: "candidate",
          candidate: e.candidate,
          isCreated: isCreated,
          room: room,
        })
      );
    }
  }
  function OnTrackFunc(e) {
    remote_video.srcObject = e.streams[0];
    remote_video.onloadedmetadata = () => {
      remote_video.play();
    };
  }

  function endcall() {
    if (rtcpeerconnection) {
      rtcpeerconnection.close();
      rtcpeerconnection = null;
    }
    if (end.style.display === "none") {
      return; // exits the function early
    }
    // Stop all tracks in the media stream
    if (stream) {
      stream.getTracks().forEach((track) => track.stop());
      stream = null;
    }

    // Hide the video elements
    our_video.srcObject = null;
    remote_video.srcObject = null;

    // Notify the other peer via WebSocket
    ws.send(
      JSON.stringify({
        command: "end", // Command to indicate call end
        room: room,
      })
    );
    end.style.display = "none";
    window.close()
  }
  let audio = document.getElementById("audio");
  let audioicon = document.getElementById("audio-icon");
  audio.onclick = () => {
    if (stream.getTracks()[0].enabled == true) {
      stream.getTracks()[0].enabled = false;
      
      audioicon.classList.remove('fa-volume-high')
      audioicon.classList.add('fa-volume-xmark')
    } else {
      stream.getTracks()[0].enabled = true;
      audioicon.classList.remove('fa-volume-xmark')
      audioicon.classList.add('fa-volume-high')
    }
  };
</script>
{% endblock %}