<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-app.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-analytics.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.10.1/firebase-messaging.js"></script>
  </head>

  <body></body>

  <script>
    // Import the functions you need from the SDKs you need

    // TODO: Add SDKs for Firebase products that you want to use
    // https://firebase.google.com/docs/web/setup#available-libraries

    // Your web app's Firebase configuration
    // For Firebase JS SDK v7.20.0 and later, measurementId is optional
    const firebaseConfig = {
      apiKey: "AIzaSyB090AN9M_H_WLhdbusUtKta25z_wyOQOI",
      authDomain: "freelancer-45e71.firebaseapp.com",
      projectId: "freelancer-45e71",
      storageBucket: "freelancer-45e71.firebasestorage.app",
      messagingSenderId: "1045799017090",
      appId: "1:1045799017090:web:dfa165f369baa27614729b",
      measurementId: "G-Q3FC5BYMSS",
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    const messaging = firebase.messaging();
    console.log(messaging.getToken());
    messaging
      .requestPermission()
      .then(() => {
        console.log("Notification permission granted.");
        return messaging.getToken();
        // TODO(developer): Retrieve an Instance ID token for use with FCM.
        // ...
      })
      .catch((err) => {
        console.warn("Unable to get permission to notify.", err);
      });

    
    messaging
      .getToken({
        vapidKey:
          "BLFyY6gAk6begrz4DIF9ZeCiltb-6HVSH3vQW9yIZSBdC8x0c61kuYD6vZKKncWofRfItBcOGc5r1TgIOGXevpw",
      })
      .then((currentToken) => {
        if (currentToken) {
          fetch("/notification/save_token/", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": "{{ csrf_token }}",
              // Include the token in the headers
            },
            body: JSON.stringify({ token: currentToken }),
          });

          // Send the token to your server and update the UI if necessary
          console.log("Current token for client: ", currentToken);
        } else {
          // Show permission request UI
          console.log(
            "No registration token available. Request permission to generate one."
          );
          // ...
        }
      })
      .catch((err) => {
        console.log("An error occurred while retrieving token. ", err);
        // ...
      });
      navigator.serviceWorker
      .register("/firebase-messaging-sw.js")
      .then((registration) => {
        messaging.useServiceWorker(registration);
        console.log("Service Worker registered");
      })
      .catch((err) => {
        console.error("Service Worker registration failed:", err);
      });

    messaging.onMessage((payload) => {
      console.log("Message received. ", payload);
      
      // ...
    });
  </script>
</html>
