{% extends 'accounts/_base.html' %} {% block content %}
<h1 class="text-4xl font-bold my-8 text-center">All Business</h1>
<div class="flex flex-wrap gap-5 justify-evenly">
  {% for business in object_list %}
  <a href="{% url 'business-list'  %}">
    <div
      class="p-6 w-[26vw]  rounded-2xl flex item-center my-5 shadow-2xl shadow-gray-800/30"
    >
      <div class="w-[30%]">
        {% if business.profile_pic %}
        <img
          class="w-20 h-20 border rounded-full mr-4"
          src="{{freelancer.profile_pic.url}}"
          alt="profile_pic"
        />
        {% endif %}
      </div>
      <div class="w-[60%] text-justify flex flex-col justify-center">
        <p class="text-lg font-semibold">{{business.name}}</p>
        <p class="text-gray-700 pt-4">{{business.tagline}}</p>
      </div>
    </div>
  </a>

  {% endfor %}
</div>
{% endblock %}
