
{% extends 'accounts/_base.html' %} {% load tailwind_filters %} {% block content %}
<h2 class="text-center text-2xl my-5" >Are you sure you want to delete "{{ object }}"?</h2>
<form method="post" class="flex gap-10 justify-center">
  {% csrf_token %}
  <div class="border rounded-xl py-2 px-5 bg-gray-400 text-white"><button type="submit">Confirm</button></div>
  <div class="border rounded-xl py-2 px-5 bg-gray-400 text-white"><a href="{% url 'job-list' %}">Cancel</a></div>
</form>
{% endblock %}
